.total{
    width: 70%;
    margin-left: 25%;
    height: 580px;
    margin-top: -39%;
    box-shadow: 10px 20px 30px  gray;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-top: 2%;
}

.idea_content{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
}

@media screen and (max-width:1300px) {
    .total{
        margin-top: -45%;
    }  
}

@media screen and (max-width:1200px) {
    .total{
        margin-top: -47%;
        margin-left: 27%;
    }  
}

@media screen and (max-width:1100px) {
    .total{
        margin-top: -50%;
        margin-left: 29%;
    }  
}

@media screen and (max-width:1000px) {
    .total{
        margin-top: -55%;
        margin-left: 32%;
        width: 65%;
    }  
}

@media screen and (max-width:900px) {
    .total{
        margin-top: -60%;
        margin-left: 35%;
        width: 63%;
    }  
}

@media screen and (max-width:800px) {
    .total{
        margin-top: -65%;
        margin-left: 40%;
        width: 58%;
    }  
}

@media screen and (max-width:800px) {
    .total{
        margin-top: -70%;
        margin-left: 40%;
        width: 58%;
    }  
}

@media screen and (max-width:700px) {
    .total{
        margin-top: -75%;
        margin-left: 40%;
        width: 58%;
    }  
}

@media screen and (max-width:700px) {
    .total{
        margin-top: -85%;
        margin-left: 38%;
        width: 350px;
    }  
}

@media screen and (max-width:600px) {
    .total{
        margin-top: -95%;
        margin-left: 33%;
        width: 350px;
    }  
}