.browse-te{
    display: grid;
    align-items: center;
    margin-top: 3rem;
   color: aliceblue;
}
.brow{
    background-color: rgb(58, 57, 57);
    padding-bottom: 6rem;
}
.rapid{
    margin-top:32.4rem;
}
.rapid-two{
    margin-top: 64.2rem;
}
.rapid-three{
    margin-top: 95.9rem;
}
.rapid-four{
    margin-top: 130rem;
}
.rapid-five{
    margin-top: 162rem;
}
.rapid-six{
    margin-top: 194rem;
}