.browse-tex{
    display: grid;
    align-items: center;
    margin-top: 3rem;
   color: aliceblue;
}
.brows{
    background-color: rgb(58, 57, 57);
    padding-bottom: 6rem;
}
.cp-first{
    margin-top: 1rem;
    height: 500px;
    margin-right: 15rem;
    width: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius:4px ;
    box-sizing: border-box;
   }
   .news{
    margin-top: 32.5rem;
    font-size: 16px;
    text-align: start;
    margin-left: 4rem;
   
  }
  .box-layout{
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    box-sizing: border-box;
    margin-left: 18rem;
    margin-right: 17rem;
    
  }
.polker-first-text{
    color: rgb(237, 4, 82);
    margin-right: 17rem;
    padding-top: 3rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.polker-first{
  margin-left: 18rem;
}
.polker-first-text svg{
  background-color: rgb(237, 4, 82);
  margin-top: -0.5rem;
  width: 1.2rem;
  margin-right: 1rem;
  height: 3.2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.cp-second{
  margin-top: 0%;
  padding-top: 0px;
  height: 500px;
  margin-right: 15rem;
  width: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius:4px ;
  box-sizing: border-box;
  width: 60rem;
 }
 .polker-third{
  margin-top: 31.8rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);

 }
 .polker-four{
  margin-top: 63.2rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);

 }
 .polker-five{
  margin-top: 94.6rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);

 }
 .polker-six{
  margin-top: 126rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);

 }
 .polker-seven{
  margin-top: 157.3rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);

 }